.navbar {
    background-color:#404f24;
    border-color: #404f24;
    color:wheat;
}
.navbar-brand {
    font-family: Copperplate, 'Times New Roman', Times, serif;
    font-size: 2em;
    color: #8f3b1b; 
    
}
body{
   background-color: wheat;
   
}
.jumbotron{
    width: 100%;
    height: 100%;
    text-align: center;
    background-image:  url("C:\Users\trns4md\Desktop\Code Career Academy\Personal Project\images\961ac9d0efb72810a4f96a5e3e70f0fd (1).jpg");
    background-color: #8f3b1b;
}
#information{
    text-align: center;
}
#footer{
    background-color: #8f3b1b;
    color: wheat;
}
.glyphicon {
    font-size: 50px;
    text-align: center;  
}
#information{
    padding-top: 30px;
    padding-bottom: 30px;
}
h3{
    color: #404f24;
}
p{
 text-align: center;
}
#address{
    text-align: center;
}
.image{
    width: 100%;
    height: 100%;
}
#tony{
    text-align: left;
}
#sidebar{
    background-color: #8f3b1b;
}
#form-group{
    margin: 5px;
}
@media screen (max-width:600px){
    
}
@media screen (min-width:600px){
    
}